# Gradle files
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.gradletasknamecache

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/

# Java build files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.
